#account_display_name_description {
    display: none !important;
}

.woocommerce-message {
    display: none;
}

.perel-thank-you-container h2 {
    font-family: "Jost", Sans-serif;
    font-size: 35px;
    font-weight: 600;
    text-transform: uppercase;
    color: #253461;
}

.perel-thank-you-container h3 {
    font-family: "Jost", Sans-serif;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    color: #253461;
}

.perel-thank-you-container p {
    font-family: Jost;
    font-size: 22px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
    margin-bottom: 10px;
}

.kd-thank-you-contact-btn {
    background-color: #10C99E;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    fill: #FFFFFF;
    color: #FFFFFF !important;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: #10C99E;
    border-radius: 50px 50px 50px 50px;
    padding: 10px 30px 10px 30px;
    margin-bottom: 20px;
    display: inline-block;
}

.kd-thank-you-contact-btn:hover {
    background-color: #FFFFFF;
    color: #10C99E !important;
    border-color: #10C99E;
}

/* my account page */

.woocommerce-MyAccount-content-wrapper {
    padding: 20px !important;
    border: 1px solid #DCDCDC !important;
    border-radius: 20px !important;
    background-color: white !important;
}

.kd-dashboard-greeting,
.kd-dashboard-latest-orders,
.kd-dashboard-latest-quotes {
    padding: 20px;
    border: 1px solid #DCDCDC;
    border-radius: 20px;
    background-color: white;
}

.kd-dashboard-greeting,
.kd-dashboard-latest-orders {
    margin-bottom: 25px;
}

#account_display_name,
label[for="account_display_name"],
.woocommerce-form-row.account-display-name {
    display: none !important;
}

.kd-account-page .woocommerce-MyAccount-navigation {
    padding: 17px 0px;
    border-radius: 20px;
    border: 1px solid #DCDCDC;
}

.kd-account-page .woocommerce-MyAccount-navigation ul {
    padding: 0;
}

.kd-account-page .woocommerce-MyAccount-navigation li {
    display: block;
    list-style: none;
    border-bottom: 1px solid #DCDCDC;
    padding: 15px 30px;
}

.kd-account-page .woocommerce-MyAccount-navigation li a br {
    display: none;
}

.kd-account-page .woocommerce-MyAccount-navigation li a {
    font-family: Jost;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
}

.kd-account-page .woocommerce-MyAccount-navigation li:last-child {
    border-bottom: none;
}

.kd-account-page .woocommerce-MyAccount-content {
    padding: 17px;
    border-radius: 20px;
    border: 1px solid #DCDCDC;
}

.kd-account-page .woocommerce-MyAccount-content a {
    color: #10A380;
}

.kd-account-page .woocommerce-MyAccount-content h2 {
    font-family: Jost;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #253461;
}

.kd-account-page .woocommerce-MyAccount-content .button {
    border-radius: 83px;
    padding: 15px 70px;
    background: #10C99E;
    color: white;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.kd-account-page .woocommerce-MyAccount-content .button br {
    display: none;
}

.kd-account-page .woocommerce-MyAccount-content table .button {
    background: transparent;
    padding: 0;
    color: #10A380;
    text-decoration: underline;
    text-transform: none;
    font-size: 12px;
}

.kd-account-page p {
    font-family: Jost;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
    margin-bottom: 10px;
}

.kd-account-page .woocommerce-MyAccount-content .offer-page .single-offer-products-over {
    padding: 0;
}

.kd-account-page .woocommerce-MyAccount-content .offer-page .single-offer-products-over li {
    list-style: none;
    font-family: Jost;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
}

.kd-account-page .woocommerce-MyAccount-content .offer-page #kd-place-order-btn,
.kd-account-page .woocommerce-MyAccount-content .offer-page #kd-download-pdf-btn,
.kd-account-page .woocommerce-MyAccount-content .offer-page #kd-send-email-btn {
    border-radius: 83px;
    padding: 15px 40px;
    background: #10C99E;
    color: white;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.kd-account-page .woocommerce-MyAccount-content .offer-page #kd-place-order-btn br,
.kd-account-page .woocommerce-MyAccount-content .offer-page #kd-download-pdf-btn br,
.kd-account-page .woocommerce-MyAccount-content .offer-page #kd-send-email-btn br {
    display: none;
}

/* offer page */
.kd-account-page .woocommerce-MyAccount-content .offer-page {
    /* 	gap : 20px; */
}

.kd-account-page .woocommerce-MyAccount-content .offer-page .offer-left {
    flex: 2;
}


.kd-account-page .woocommerce-MyAccount-content .offer-page .offer-right {
    flex: 1;
    border: 1px solid #DCDCDC;
    padding: 15px;
    border-radius: 15px;
    margin-left: 20px;
}

.kd-account-page .woocommerce-MyAccount-content .product-info-title {
    margin-bottom: 5px;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #253461;
}

.kd-account-page .woocommerce-MyAccount-content .offer-card-cont {}

.product-actions a {
    font-family: Jost;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;

}

.kd-account-page .woocommerce-MyAccount-content .offer-product-card>p {
    display: none;
}

.kd-account-page .woocommerce-MyAccount-content bdi {
    font-family: Jost;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #253461;
}

.kd-account-page .woocommerce-MyAccount-content .offer-right h3 {
    font-family: Jost;
    font-weight: 500;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #253461;
}

.kd-account-page .woocommerce-MyAccount-content .offer-right h4 {
    font-family: Jost;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #253461;
}

.kd-quote-table td {
    min-width: 100px;
}

/* single quote */

.offer-header.kd-single-quote-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #dcdcdc;

}

.offer-header.kd-single-quote-header .left {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.single-quote-btn {
    padding: 10px 30px !important;
    background: transparent;
    border: 1px solid #253461 !important;
    display: inline-flex !important;
    color: #253461 !important;
    border-radius: 50px !important;
    column-gap: 10px;
    align-items: center;
    transition: all .6s ease;
}

.single-quote-btn:hover{
    background-color: #253461 !important;
    color: white !important;
}

.single-quote-btn img{
    width: 20px;
}

/* .single-quote-btn:hover {
    color: #253461 !important;
    border-color: #253461;
    background-color: transparent !important;
} */

.offer-header.kd-single-quote-header .left p {
    font-size: 18px;
    font-family: jost;
    color: #253461;
}

.offer-page {
    justify-content: space-between;
}

.offer-page .offer-left {
    width: 60%;
    
}

.offer-page .offer-left .offer-product-card {
    width: 100%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    background: white;
    margin-bottom: 20px;
}

.offer-page .offer-right {
    width: 36%;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    height: max-content;
    background-color: white;
}

.single-product-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dcdcdc;
}

.single-product-header h3 {
    margin-bottom: 0 !important;
}

.offer-card-cont .product-image {
    width: 100%;
    text-align: center;
    padding: 25px;
}

.offer-card-cont .product-info-view {
    padding-top: 25px;
    border-top: 1px solid #dcdcdc;
}

.offer-card-cont .product-info-view ul {
    padding: 0;
}

.offer-card-cont .product-info-view ul li {
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.offer-card-cont .product-image img {
    width: 250px;
}

.offer-right-header {
    border-bottom: 1px solid #dcdcdc;
    padding-bottom: 7px;
}

.offer-right-cont {
    padding: 25px 0;
    border-bottom: 1px solid #dcdcdc;
}

.kd-offer-right-list-div {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.kd-offer-single-action-btn {
    margin-top: 20px !important;
    padding: 10px 20px !important;
    background: #10c99e !important;
    color: #fff !important;
    border: none !important;
    cursor: pointer !important;
    border-radius: 50px !important;
}

.kd-order-details-single-prod {
    display: flex;
}

.kd-order-details-single-prod .content-wrapper ul {
    padding: 0;
}

.kd-single-order-prod-title {
    font-size: 14px;
    font-weight: 600;
    color: #253461;
}

.kd-reorder-sec .reorder-header {
    text-align: right;
}

.kd-reorder-sec .kd-reorder-btn,
#kd-reorder-list button {
    padding: 12px 25px;
    background: #10c99e;
    border-radius: 50px;
    color: white !important;
    font-family: 'Jost';
}

#kd-reorder-list button#kd-reorder-cancel {
    background-color: transparent;
    border: 1px solid #253461;
    color: #253461 !important;
}

#kd-reorder-list {
    display: block;
    margin-top: 20px;
    padding: 25px;
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
}

#kd-reorder-list table.shop_table {
    border: 0;
}

/* my account page */

/* urgent delivery contact form  */

.urgent-popup p,
.urgent-popup ul {
    font-family: "Jost", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #253461;
}

.kd-row {
    display: flex;
    column-gap: 15px;
}

.kd-row.row-col {
    flex-flow: column;
    align-items: center;
}

.kd-col-50 {
    width: calc(50% - 18px);
}

.kd-col-100 {
    width: 100%;
}

.kd-quantity-popup-inner {
    max-width: 640px;
}

.kd-quantity-popup-inner input::placeholder,
.kd-quantity-popup-inner textarea::placeholder {
    color: #253461 !important;
    font-size: 14px;
    font-weight: 400;
    opacity: .5;
}

.kd-quantity-popup-inner h4 {
    font-size: 24px !important;
}

.kd-quantity-popup-inner p {
    color: #253461 !important;
    font-size: 14px;
    font-weight: 400;
    font-family: Jost !important;
}

.kd-quantity-popup-inner .kd-col-50 {
    width: 50%;
}

.kd-country-div {
    position: relative;
}

.kd-country-tooltip {
    background: #253461;
    width: 18px;
    height: 18px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    font-size: 11px;
    transform: translateY(-9px);
}

.kd-country-tooltip-desc {
    position: absolute;
    top: 0;
    left: 82px;
    background: #253461;
    z-index: 123;
    padding: 6px;
    border-radius: 6px;
    color: white;
    font-size: 12px;
    transform: translateY(-50%);
    opacity: 0;
    visibility: hidden;
    transition: all .6s ease;
}

.kd-country-tooltip-desc.active {
    opacity: 1;
    visibility: visible;
}

/* .urgent-popup input::placeholder ,.urgent-popup textarea::placeholder{
    color:  #253461 !important;
} */

/* order information */

.kd-single-order-box {
    padding: 20px;
    border: 1px solid #dcdcdc;
    border-radius: 20px;
    background: white;
}

.kd-single-order-box .shop_table.order_details,
.kd-single-order-box .woocommerce-customer-details address {
    padding: 0 !important;
    border: none !important;
}

.kd-order-details-wrapper{
    padding: 25px;
    background: white;
    border: 1px solid #dcdcdc;
    border-radius: 15px;
}