.kd-empty-cart-wrapper{
	    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    background: white;
    border: 1px solid #DCDCDC;
    padding: 20px;
    border-radius: 20px;
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
}

.kd-row {
    display: flex;
    flex-flow: row wrap;
    column-gap: 34px;
    margin-bottom: 28px;
}

.kd-row.text-center {
    text-align: center;
    justify-content: center;
}

.kd-row.kd-row.text-right {
    text-align: left;
    justify-content: flex-end;
}

.kd-col-50 {
    width: calc(50% - 18px);
}

.kd-col-100 {
    width: 100%;
}

.pearl-quote-page-container .woocommerce {
    display: flex;
    gap: 30px;
    margin-top: 20px;
}

.pearl-quote-page-container .pearl-cart-info {
    flex: 1;
}

.pearl-quote-page-container .pearl-cart-info .pearl-cart-item {
    background: white;
}

.pearl-quote-page-container .pearl-quote-form {
    flex: 1.5 !important;
    background: white;
}

.pearl-cart-item {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
    border: 1px solid #DCDCDC;
    padding: 20px;
    border-radius: 20px;
    position: relative;
}

.pearl-cart-item-remove {
    position: absolute;
    right: 14px;
    top: 14px;
}

.pearl-cart-item-details .pearl-cart-item-name>a {
    color: #253461;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}

.pearl-cart-item-details .pearl-variation-attrs li {
    display: flex;
    justify-content: space-between;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
}

.pearl-cart-item-details .pearl-variation-attrs li strong {
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
}

.pearl-cart-item .pearl-cart-item-image {
    width: 130px !important;
}

.pearl-quote-form {
    border: 1px solid #DCDCDC;
    border-radius: 20px;
}

.quote-form-header {
    padding: 20px;
    border-bottom: 1px solid #DCDCDC;
}

.pearl-quote-form .quote-form-header>h2 {
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #253461;
    margin: 0px;
}

.pearl-quote-form .quote-form-header>p {
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0%;
    color: #253461;
    margin-top: 15px;
}

.form-quote-form-form {
    padding: 30px;
}

.form-quote-form-form label {
    font-family: Jost;
    font-weight: 600;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
    margin-bottom: 10px;
}


.design-upload-title{
    font-family: Jost;
    font-weight: 600;
    font-size: 16px;
/*     line-height: 174%; */
    letter-spacing: 0%;
    color: #253461;
    margin-bottom: 10px;
}

.resign-request-checkbox-desc{
    display: none;
}

.resign-request-checkbox-desc.active{
    display: block;
}

.form-quote-form-form input,
.form-quote-form-form select {
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0%;
    border: 1px solid #DCDCDC !important;
    border-radius: 5px;

}

.feature-list-icons {
    display: flex;
    text-align: center;
    padding-left: 0;
    column-gap: 30px;
	justify-content : center;
}

.feature-list-icons li {
    display: block;
}

.feature-list-icons li img {
    width: 40px;
}

.kd-radio-wrapper {
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    display: inline-block;
    user-select: none;
    font-size: 16px;
}

.kd-radio-wrapper:not(:last-child) {
    margin-right: 26px;
}

.kd-radio-wrapper input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.kd-radio-wrapper .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: white;
    border: 1px solid #10C99E;
    border-radius: 50%;
}

.kd-radio-wrapper input[type="radio"]:checked+.checkmark::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    background-color: #10C99E;
    border-radius: 50%;
}

.address-field-toggle {
    font-family: Jost;
    font-weight: 600;
    font-size: 14px;
    line-height: 174%;
    letter-spacing: 0%;
    color: #253461;
}

.form-quote-form-form .kd-submit-btn {
    background: #10C99E;
    padding: 15px 65px;
    border-radius: 83px;
    color: white;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    border-color: #10C99E !important;
}

.form-quote-form-form .kd-add-more-prod-btn {
    border: 1px solid #10C99E;
    border-radius: 83px;
    color: #10C99E;
    font-family: Jost;
    font-weight: 500;
    font-style: Medium;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    padding: 15px 90px;

}

.kd-add-more-btn {
    font-family: Jost;
    font-weight: 500;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-offset: 0%;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #253461 !important;
    border: none;
}

.kd-add-more-btn {
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    color: #10C99E !important;
    padding: 15px;
    border: 1px solid #10C99E;
    border-radius: 83px;
    display: inline-block;
}

.kd-add-more-btn:hover {
    background-color: #10C99E;
    color: #fff !important;
}

.design-upload-btn small{
	display: block;
    color: #253461;
    font-size: 12px;
}

/* upload design */

/* .design-upload-btn label {
    background-color: #10C99E;
    color: #fff;
    font-family: Jost;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    cursor: pointer;
    padding: 15px;
    border-radius: 83px;
    display: inline-block;
    margin-bottom: 15px !important;
	
} */

.design-upload-btn label , .design-upload-description label{
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #253461;
    display: block;
}

.design-upload-btn  , .design-upload-description{
	display : none;
}

.design-upload-btn.active , .design-upload-description.active{
	    display: block;
}

.design-upload-description{
    padding-top: 20px;
}

.design-upload-description textarea{
    font-family: emoji;
    color: #253461;
    margin-top: 6px;
}

.design-upload-description label{
    font-family: Jost;
    font-size: 16px;
    /* line-height: 174%; */
    letter-spacing: 0%;
    color: #253461;
}

.pearl-forgot-link{
    font-family: jost !important;
    color: #253461 !important;
}

.design-upload-description textarea{
    background-color: #ffffff;
    border-color: #253461;
    border-radius: 10px 10px 10px 10px;
    font-family: "Jost", Sans-serif;
    font-size: 15px;
    font-weight: 400;
    color : #253461;
}